body {
	margin:0;
	padding:0;
	background:#000;
	color:#fff;
}

h1 {
	text-align:center;
}

#preview {
	position:absolute;
	height:85vh;
	width:62vw;
	left:5vw;
	top:80px;
}

#info {
	position:absolute;
	width:25vw;
	right:5vw;
	top:80px;
	height:85vh;
	border:1px solid #0a0;
}

#info_padding {
	padding:10px;
}

#next_container, #active_container {
	font-size:2vw;
}
