body {
	margin:0;
	padding:0;
	background:#000;
	color:#fff;
	font-family:Cantarell, Helvetica, Arial;
}

h1 {
	text-align:center;
}

#preview {
	position:absolute;
	height:80vh;
	width:60vw;
	left:5vw;
	top:5vh;
	border:1px solid #00f;
}

#info {
	position:absolute;
	width:25vw;
	right:5vw;
	top:5vh;
	height:90vh;
	border:1px solid #0a0;
}

#info_padding {
	padding:10px;
}

#next_container, #active_container {
	font-size:2vw;
}

#connect {
	position:absolute;
	bottom:0;
	left:0;
	width:25vw;
	font-size:2.2vh;
	border-top:1px solid #0f0;
	height:7vh;
	line-height:7vh;
	background:#050;
}

#connect_server {
	background:#000;
	color:#fff;
	text-align:center;
	border:1px solid #fff;
	margin-left:0.5vw;
	font-size:2.2vh;
	width:11vw;
}

#connect_settings {
	margin-left:1vw;
}

#connect_status {
	position:absolute;
	font-size:4vh;
	right:0;
	top:0;
	height:7vh;
	width:7vh;
	text-align:center;
	background:#a00;
	cursor:pointer;
	color:#000;
	-moz-user-select:none;
	user-select:none;
}

#recorder {
	position:absolute;
	height:5vh;
	width:60vw;
	left:5vw;
	top:90vh;
	border:1px solid #f00;
}

#record_indicator {
	line-height:5vh;
	width:8vw;
	font-size:1.5vw;
	text-align:center;
	color:#aaa;
	font-style:italic;
	border-right:1px solid #f00;
	display:inline-block;
	float:left;
}

#record_indicator.recording {
	font-weight:bold;
	font-style:normal;
	background:#a00;
	color:#fff;
}

#record_timeline {
	background:#444;
	display:inline-block;
	height:5vh;
	width:calc(52vw - 1px);
	position:relative;
}

.record_event {
	line-height:5vh;
	background:#aa0;
	display:inline-block;
	padding:0 0.3vw;
	color:#000;
	position:absolute;
	font-weight:bold;
}

#record_iter {
	height:5vh;
	position:absolute;
	border-right:3px solid #f00;
}
